* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  align-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 16px;
  border: transparent;
  box-shadow: 0px 3px 4px 3px #ddc5f4;
}

.app, .passview, .btn-generate, .btn-copy {
  border-radius: 5px;
  width: 392px;
  margin: 6px auto;
  padding: 10px;
}

.btns-container {
  display: flex;
}

.passview, .btn-generate, .btn-copy {
  border: 1px solid blueviolet;
  width: calc(100% - 30px);
  height: calc(50px - 10px);
  padding: 8px;
  text-align: center;
  color: black;
}

.passview {
  letter-spacing: 3px;
  font-weight: 500;
}

.btn-generate, .btn-copy {
  border: transparent;
  border-radius: 20px;
  width: calc(70% - 90px);
  background: linear-gradient(to bottom, #2c37ba, #8a2be2ab);
  box-shadow: inset 0px 0px 0px 3px rgb(0 0 0 / 6%),
                        inset 0px 0px 8px 6px rgb(0 0 0 / 7%);;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: .2s;
}

.btn-copy {
  background: linear-gradient(to bottom, #d9d9f5, #eaeafac2);
  color: #3D3D3D;
}

.btn-generate:hover, .btn-copy:hover {
  cursor: pointer;
  background-color: rgba(127, 26, 222, 0.612);
}

.btn-generate:active, .btn-copy:active {
  background-color: rgb(64, 231, 231);
}

.settings-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
