* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  align-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 16px;
  border: transparent;
  box-shadow: 0px 3px 4px 3px #ddc5f4;
}

.app, .passview, .btn-generate, .btn-copy {
  border-radius: 5px;
  width: 320px;
  margin: 0 auto;
  padding: 10px;
}

.btns-container {
  display: flex;
}

.passview, .btn-generate, .btn-copy {
  border: 1px solid blueviolet;
  width: calc(100% - 30px);
  height: calc(50px - 10px);
  padding: 8px;
  text-align: center;
  color: black;
}

.passview {
  letter-spacing: 3px;
  font-weight: 500;
}

.btn-generate, .btn-copy {
  border: transparent;
  width: auto;
  background-color: blueviolet;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: .2s;
}

.btn-generate:hover, .btn-copy:hover {
  cursor: pointer;
  background-color: rgb(167, 88, 241);
}

.btn-generate:active, .btn-copy:active {
  background-color: rgb(64, 231, 231);
}
